/* GLOBAL RESETS */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*

TABLE OF CONTENTS

# GLOBAL RESETS
# BASE TYPOGRAPHY
# BUTTONS
# MEDIA
    # RESPONSIVE IMAGES
# LAYOUT
    # CONTAINER
    # MEDIA QUERIES
    # SEMANTIC GRID SYSTEM
# STRUCTURE
    # SITE HEADER
    # SITE NAV
    # MAIN
        # SECTIONS
    # SITE FOOTER


*/
/* BASE TEXT COLORS */
body {
  color: rgba(0, 0, 0, 0.8);
}

h1, h2, h3, h4, h5, h6 {
  color: rgb(0, 0, 0);
}

/* BASE TEXT FONTS */
body {
  font-family: "Source Sans Pro", "new-hero", Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", "Kepler", "Times New Roman", Times, serif;
}

/* BASE TYPOGRAPHY */
body {
  font-size: 100%;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0 0 0.5em 0;
}

/* TRADITIONAL TYPOGRAPHIC SCALE */
h1 {
  font-size: 3em;
  line-height: 1;
}

h2 {
  font-size: 2.25em;
  line-height: 1.1;
}

h3 {
  font-size: 1.5em;
  line-height: 1.2;
}

/* LIMIT NUMBER OF CHARACTERS PER LINE */
p {
  max-width: 30em;
}

/* HORIZONTAL LINE */
hr {
  border: 0;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 3em 0;
}

/* TYPE SPECIMEN */
.headline {
  font-size: 4em;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  color: rgb(87, 160, 255);
}

.subheadline {
  font-weight: normal;
  font-size: 2.5em;
  line-height: 1.1;
  color: rgba(0, 0, 0, 0.5);
  margin: 0.25em 0;
}

/* SECTION HEADING */
.section-heading {
  font-size: 1em;
  font-family: "Source Sans Pro", "new-hero", Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  display: table;
  margin: 3em 0;
}

/* BUTTONS */
.button {
  display: inline-block;
  background-color: rgb(87, 160, 255);
  color: #fff;
  text-decoration: none;
  padding: 1em;
  border-radius: 10px;
}
.button:hover {
  background-color: rgb(142, 223, 255);
}

/* MEDIA  */
/* RESPONSIVE IMAGES */
img {
  max-width: 100%;
  height: auto;
}

/* RESET BODY */
body {
  margin: 0;
}

/* CONTAINER */
.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 1em;
}

/* MEDIA QUERIES */
/* RESPONSIVE TYPOGRAPHY */
body {
  font-size: 87.5%;
}

@media (min-width: 768px) {
  body {
    font-size: 100%;
  }
}
@media (min-width: 1250px) {
  body {
    font-size: 112.5%;
  }
}
/* SEMANTIC GRID */
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -1%;
  margin-right: -1%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3em;
}
.row > * {
  margin: 1%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.row.centered {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.row.swapped {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.row.stacked {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.row.align-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (min-width: 768px) {
  .row > * {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .row .one-whole {
    width: 98%;
  }
  .row .one-half {
    width: 48%;
  }
  .row .one-third {
    width: 31.3333%;
  }
  .row .two-thirds {
    width: 64.6666%;
  }
  .row .one-fourth {
    width: 23%;
  }
  .row .three-fourths {
    width: 73%;
  }
  .row .push-one-fourth {
    margin-left: 26%;
  }
  .row .push-one-third {
    margin-left: 34.3333%;
  }
  .row .push-one-half {
    margin-left: 51%;
  }
  .row .centered {
    margin-left: auto;
    margin-right: auto;
  }
}

.demo .row {
  margin-bottom: 0;
}
.demo .row > * {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1%;
}

/* SITE STRUCTURE */
.site-header {
  position: absolute;
  width: 100%;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.site-header a {
  color: white;
  text-decoration: none;
}
.site-header h1 {
  font-size: 1.5em;
  margin: 0;
}

/* SITE-FOOTER */
.site-footer {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#E1BEE7), to(#B2EBF2));
  background-image: linear-gradient(to bottom right, #E1BEE7, #B2EBF2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.site-footer a {
  color: white;
  text-decoration: none;
}

/* SITE-NAV */
.site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.site-nav a {
  display: inline-block;
  padding: 1em;
  line-height: 1;
}

section {
  padding: 4em 0;
}

/* HERO SECTION */
.hero {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#E1BEE7), to(#B2EBF2));
  background-image: linear-gradient(to bottom right, #E1BEE7, #B2EBF2);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10em 0 6em 0;
  color: white;
  min-height: 100vh;
}
.hero h1 {
  color: white;
  margin-bottom: 0.25em;
}
.hero p {
  margin: 1em auto;
}